@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html, body {
  height: 100%;
}

body {
  font: 1.1em/1.6em 'PT Sans', sans-serif;
  background: #fff;
  position: relative;
  color: #333;
}

h1, h2, h3 {
    font-weight: normal;
}

a         { color: #345394; }
a:hover   { color: #333; }

p {
    margin: 0 0 1em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.post-brief {
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: #eee solid 1px;
    }
    .post-brief:last-child {
        border-bottom: none;
    }
    .post-brief-header {
        margin-bottom: 10px;
        text-align: center;
        }
        .post-brief .meta{
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #999;
            font-size: 80%;
            margin-top: -15px;
            font-style: italic;
        }
    .post-brief p {
        margin: 0;
    }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.layout {
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
    }
    .layout-inner {
        padding-bottom: 100px;
    }

@media screen and (min-width: 50em) {
    .layout {
        width: 40em;
    }
}

/* =============
 HEADER
============= */
    .header {
        padding: 20px 0 40px;
        text-align: center;
        }
        .header a {
            text-decoration: none;
        }
        .header .userpic {
            margin-bottom: 10px;
            font-size: 0;
            line-height: 0;          
        }
        .header .userpic img {
            display: inline-block;
            border-radius: 10%;
        }

    .title {
        margin: 0;
        font-size: 25px;
        }


/* =============
 FOOTER
============= */
.footer {
    border-top: 5px solid #eee;
    width: 90%;
    margin: -75px auto 0;
    overflow: hidden;    
    }
    .footer-inner {
        padding: 15px 0;
        font-size: 70%;
        line-height: 1.5;
        color: #666;
    }

    .footer p {
        margin: 0 0 5px;
    }
    .footer .contact {       
        }
        .footer .contact a {
            color: #666;
        }

@media screen and (min-width: 50em) {
    .footer {
        width: 40em;
        height: 70px;
    }
    .footer .contact {
        float: left;
        margin-right: 3em;
        }
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post-title {
    text-align: center;
}
.post-meta {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #999;
    font-size: 80%;
    margin-top: -15px;
    text-align: center;
    font-style: italic;
}

/* standard */
pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

pre code {
    border: none;
}

/* terminal */
pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
    }
    pre.terminal code {
        background-color: #333;
    }
